<div class="user-edit-page">
  <div class="details tab-content">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <%= render 'form' %>
    </div>
  </div>
</div>
