<div class="center jumbotron">
  <h1>Welcome to Visionz!</h1>

  <h2>
    A "vision board" is a collection of images, pictures, quotes and affiramations of a persons dreams and desires. Visionz is an online community and a source of inspiration and motivation. Whether your looking for inspiration for your next project or you want to showcase what inspires you, unlock the visionz!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
