/*
 *= require_self
 */

	// Universal

body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

	// Header

header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
	.logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
}

	// Home

#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 1.75rem;
	line-height: 1;
	span {
		font-size: 1.25rem;
		color: #9B9B9B;
	}
}
#posts {
	.post {
		background: #F8F9FA;
		width: 30%;
		float: left;
		margin: 1rem 1.5%;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.post_image {
			height: 200px;
			overflow: hidden;
			img {
				width: 100%;
				border-radius: .3rem .3rem 0 0;
			}
		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 100;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.25rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}

// Pagination

.pagination {
  padding: 3px;
  margin: 3px;
	margin-left: 12px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #9B9B9B;
  text-decoration: none;
  color: #9B9B9B;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #333233;
  color: #333233;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #333233;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

// Posts

#post_show {
	padding-top: 2rem;
	.post_image_description {
		width: 50%;
		float: left;
		margin-right: 5%;
	}
	.post_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #969696;
			&:hover {
				color: #50A7C7;
				border: 1px solid #50A7C7;
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}
	#random_post {
		width: 25%;
		margin-left: 5%;
		margin-top: -3.2rem;
		float: left;
		h3 {
			font-size: 1rem;
		}
		.post {
			background: #F8F9FA;
			border: 1px solid #E4E4E4;
			border-radius: 0.3rem;
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.post_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;
						}
					}
				}
			}
		}
	}
	h1 {
		margin: 0;
		color: #333233;
	}
	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #969696;
	}
}

	// Comments

#comments {
	padding-bottom: 4rem;
	width: 50%;
	.comment_count {
		border-bottom: 1px solid #E9E9E9;
		padding-bottom: .5rem;
		margin-bottom: 0;
	}
	.comment {
		padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;
		padding-left: 5%;
		.username {
			font-size: 1.3rem;
			color: #333233;
			margin: 0 0 .5rem 0;
		}
		.content {
			margin: 0;
			color: #969696;
		}
	}
	.comment_content {
		margin-top: 2.5rem;
		.textarea {
      overflow: auto;
      width: 41em;
      height: 7.5em;
			margin: 1rem 0;
			min-height: 150px;
			border: 1px solid #E4E4E4;
			background: #F8F9FA;
			border-radius: 0.3rem;
		}
	}
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

.textarea {
  overflow: auto;
  width: 41em;
  height: 7.5em;
  margin: 1rem 0;
  min-height: 150px;
  border: 1px solid #E4E4E4;
  background: #F8F9FA;
  border-radius: 0.3rem;
}

@import "users";
